<h1>Listing properties</h1>

<table>
  <thead>
    <tr>
      <th>Property type</th>
      <th>City</th>
      <th>Address</th>
      <th>Description</th>
      <th>Cost price</th>
      <th>Sale price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_type %></td>
        <td><%= property.city %></td>
        <td><%= property.address %></td>
        <td><%= property.description %></td>
        <td><%= property.cost_price %></td>
        <td><%= property.sale_price %></td>
        <td><%= link_to 'Show', property %></td>
      </tr>
    <% end %>
  </tbody>
</table>
