<p id="notice"><%= notice %></p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>City:</strong>
  <%= @property.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Description</strong>
  <%= @property.description %>
</p>

<p>
  <strong>Cost price:</strong>
  <%= @property.cost_price %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @property.sale_price %>
</p>
